@charset "UTF-8";

body, html {
    background: #000033;
    font-size: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/*** Main header ***/
#page-header {
    background: #00001a;
    color: #fff;
    font-family: 'Share Tech Mono', monospace;
    position: fixed;
    height: 10%;
    width: 100%;
    top: 0;
    z-index: 10;

    display: flex;
    justify-content: space-around;
}

#page-header h1{
    margin: 0;
    padding-left: 25px;
    padding-top: 15px;
    flex-grow: 4;
}

#page-header h1 a{
    text-decoration: none;
}

#page-header nav {
    padding-top: 15px;
    flex-grow: 1;

    display: flex;
}

#page-header nav a{
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    
    flex-grow: 1;
}

#page-header nav a:hover {
    background-color: #00004d;
}

/*** Main Content ***/
main {
    position: relative;
    top: 10%;
}

/*** Shipyard Navigation ***/
#shipyard-nav {
    background: #000033;
    position: fixed;
    height: 90%;
    width: 20%;
    left: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#shipyard-nav > a {
    background: #000033;
    color: #0000DD;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    
    display: block;
    padding-top: 15px;

    flex-grow: 1;

    transition: transform .2s;
    transition: color .3s;
}

#shipyard-nav > a:hover{
    background: #00004d;
    color: #fff;
    transform: translateX(-30px);
}

/*** Shipyard ***/
#shipyard {
    background: #CCC;
    position: relative;
    width: 78%;
    scroll-behavior: none;
}

/*** Individual ships ***/
.ship {
    background: #00004d;
    margin: 0 auto;
    padding: 15% 70px 8% 50px;
}

/*
    Impede o ultimo navio de ficar
    na parte de baixo da tela
*/
.ship:last-of-type {
    padding-bottom: 25%;
}

.ship header h2 {
    color: #fff;
    font-family: 'Share Tech Mono', monospace;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin: 0;
}

.ship p{
    color: #fff;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.2em;
    text-align: justify;
    width: 50%;
    margin: 50px auto;
    padding-left: 75px;
    float: left;
}

.ship figure {
    float: right;
}

.ship figure img {
    border: 5px solid #ddd;
    border-radius: 90px;
    width: 300px;
}

.ship::after{
    content: "";
    display: block;
    clear: both;
}
